# Virtual Environment
venv/

# Environment Variables
.env

# Python
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Testing
.pytest_cache/

# Build
dist/
build/